@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

p.blue {
  color: @light-blue;
}

.boardCoords {
  font-size: 8px;
  margin:0;
}

.boardQuantity {
  font-size: 8px;
  margin:0;
}

.boardUnit {
  font-size: 12px;
  margin:0;
}

.h100 {
  height: 100%;
}

.roaster {
  position: relative;
  height: 400px;
}

.roaster .p1 {
  position: absolute;
  bottom:10px;
}

.roaster .p2 {
  position: absolute;
  top:65px;
}

#newAction {
  font-size:10px;
}

.action-label {
  display:block;
  margin-bottom:2px;
}

