p.blue {
  color: #6c94be;
}
.boardCoords {
  font-size: 8px;
}
.h100 {
  height: 100%;
}
.roaster {
  position: relative;
  height: 400px;
}
.roaster .p1 {
  position: absolute;
  bottom: 10px;
}
.roaster .p2 {
  position: absolute;
  top: 65px;
}
#newAction {
  font-size: 10px;
}
.action-label {
  display: block;
  margin-bottom: 2px;
}
